@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Poppins;
  background: #101010;
  color: aliceblue;
  font-size: 16px;
}

a{
  text-decoration: none;
  color: aliceblue;
}

header{
  width: 1140px;
  max-width: 80%;
  margin: auto;
  height: 50px;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 100;
}

header a{
  margin-right: 25px;
}

/* Crousel */
.crousel{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin-top: -50px;
  position: relative;
}
.crousel .list .item{
  position: absolute;
  inset: 0 0 0 0;
}
.crousel .list .item img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.crousel .list .item .content{
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
  width: 1140px;
  max-width: 80%;
  padding-right: 30%;
  text-shadow: 0 5px 10px #0004;
}
.crousel .list .item .content .author{
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 5px;
}
.crousel .list .item .content .title,.crousel .list .item .content .topic{
  font-weight: bold;
  font-size: 5em;
  line-height: 1.1em;
}
.crousel .list .item .content .topic{
  color: #f1633a;
}
.crousel .list .item .content .des{
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
}
.crousel .list .item .content .btn{
  display: grid;
  grid-template-columns: repeat(2, 130px);
  margin-top: 20px;
  gap: 5px;
  grid-template-rows: 40px;
}
.crousel .list .item .content .btn button{
  border: none;
  background: #fff;
  font-weight: 500;
  letter-spacing: 3px;
  font-family: Poppins;
}
.crousel .list .item .content .btn button:nth-child(2){
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
}

/* thumbnail */
.thumbnail{
  position: absolute;
  bottom: 50px;
  left: 50%;
  display: flex;
  gap: 20px;
  width: max-content;
  z-index: 100;
}
.thumbnail .item{
  width: 150px;
  height: 220px;
  flex-shrink: 0;
  position: relative;
}
.thumbnail .item img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}
.thumbnail .item .content{
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
}

.arraows{
  position: absolute;
  top: 80%;
  right: 52%;
  width: 300px;
  max-width: 30%;
  display: flex;
  gap: 20px;
  align-items: center;
  z-index: 100;
}
.arraows button{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #eee4;
  border: none;
  color: #fff;
  font-size: large;
  transition: .5s;
}
.arraows button:hover{
  background: #eee;
  color: #555;
  cursor: pointer;
}

.crousel .list .item:nth-child(1){
  z-index: 1;
}
.crousel .list .item:nth-child(1) .author,
.crousel .list .item:nth-child(1) .title,
.crousel .list .item:nth-child(1) .topic,
.crousel .list .item:nth-child(1) .des,
.crousel .list .item:nth-child(1) .btn{
  transform: translateY(50px);
  filter: blur(10px);
  opacity: 0;
  animation: showContent 0.5s 1s linear 1 forwards;
}
@keyframes showContent {
  to{
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
  }
}

.crousel .list .item:nth-child(1) .title{
  animation-delay: 1.2s;
}
.crousel .list .item:nth-child(1) .topic{
  animation-delay: 1.4s;
}
.crousel .list .item:nth-child(1) .des{
  animation-delay: 1.6s;
}
.crousel .list .item:nth-child(1) .btn{
  animation-delay: 1.8s;
}

/* effect */
.crousel.next .list .item:nth-child(1) img{
  position: absolute;
  bottom: 50px;
  left: 50%;
  width: 150px;
  height: 220px;
  border-radius: 20px;
  animation: showImage 0.5s linear 1 forwards;
}

@keyframes showImage {
  to{
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    border-radius: 0;
  }
}

.crousel.next .thumbnail .item:nth-last-child(1){
  overflow: hidden;
  animation: showThumbnail 0.5s linear 1 forwards;
}
@keyframes showThumbnail {
  from{
    width: 0;
    opacity: 0;
  }
}

.crousel.next .thumbnail{
  animation: effectNext .5s linear 1 forwards;
}

@keyframes effectNext{
  from{
      transform: translateX(150px);
  }
}

.crousel.prev .list .item img{
  z-index: 100;
}
.crousel.prev .list .item:nth-child(2){
  z-index: 2;
}
.crousel.prev .list .item:nth-child(2) img{
  animation: outImage 0.5s linear 1 forwards;
  position: absolute;
  bottom: 0;
  left: 0;
}
@keyframes outImage {
  to{
    width: 150px;
    height: 220px;
    border-radius: 20px;
    left: 50%;
    bottom: 50px;
  }
}

.crousel.prev .thumbnail .item:nth-child(1){
  opacity: 0;
  overflow: hidden;
  animation: showThumbnail 0.5s linear 1 forwards;
}

.crousel .list .item:nth-child(2) .author,
.crousel .list .item:nth-child(2) .title,
.crousel .list .item:nth-child(2) .topic,
.crousel .list .item:nth-child(2) .des,
.crousel .list .item:nth-child(2) .btn{
  animation: contentOut 1.5s linear 1 forwards;
}

@keyframes contentOut {
  to{
    transform: translateY(-150px);
    filter: blur(10px);
    opacity: 0;
  }
}

.crousel.next .arraows button,
.crousel.prev .arraows button{
  pointer-events: none;
}

/* time */
.time{
  width: 0;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
  background: #f1633a;
  z-index: 100;
}

.crousel.next .time,
.crousel.prev .time {
  width: 100%;
  animation: timeRunning 2s linear 1 forwards;
}
@keyframes timeRunning {
  from{ width: 100%}
  to{width: 0}
}

@media (max-width: 678px) {
  .crousel .list .item .content{
    padding-right: 0;
  }
  .crousel .list .item .content .title{
    font-size: 30px;
  }
  .crousel .list .item .content .topic{
    font-size: 40px;
  }
}